/* search box css  */

label {
 margin-bottom: 0px !important;
}
.custome-search-box {
 width: 100%;
 height: 50px;
 max-width: 722px;
 border-radius: 8px !important;
 font-size: 24px;
 font-weight: bold;
 letter-spacing: 0.24px;
 color: #9ea0a9;
 background: #f0f0f0;
 border: none;
}
input.form-control.custome-search-box:focus {
 box-shadow: none;
}
.input-group-append {
 margin-left: 40px !important;
}
.has-search {
 display: flex !important;
}
.has-search .form-control {
 padding: 5px 0px 6px 50px;
}

.has-search .form-control-feedback {
 position: absolute;
 z-index: 2;
 display: block;
 padding: 10px;
 line-height: 2.375rem;
 text-align: center;
 pointer-events: none;
 color: #aaa;
}

.search-btn-place {
 display: flex;
 margin-left: 40px;
}
.search-btn {
 border-radius: 8px;
 padding: 0px 90px 0px 90px;
 background-color: #6e7fe5 !important;
 font-size: 24px;
 border-color: #6e7fe5;
}
button.btn.btn-success.search-btn.font-width-600 {
 border-color: #6e7fe5;
}
/* search box css end */
/* dropdown menu  */
.filter-name {
 margin: 10px auto;
 font-size: 18px;
 font-weight: bold;
 letter-spacing: 0.24px;
 margin-right: 10px;
 color: #3a3a3a;
}
.header-dropdown {
 padding-right: 80px !important;
}
/* dropdown menu end */
/* inventory list  */
.inventory-box {
 padding: 40px;
 border-radius: 30px 0 0 30px;
}
.inventory-image {
 width: 100%;
 height: 100%;
 max-height: 80px;
 max-width: 80px;
 border-radius: 8px;
}
.inventory-list-box {
 display: flex;
 background: #f0f0f0;
 border-radius: 8px;
 padding: 10px;
}
.inventory-status {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
 font-weight: 600;
 color: #3a3a3a;
}
.checkbox-cus {
 margin: 20px auto;
 padding-left: 50px;
}
.callend-amount {
 color: #9ea0a9;
}
.sub-list {
 padding-left: 50px;
}
.switch {
 position: relative;
 display: inline-block;
 width: 90px;
 height: 34px;
}

.switch input {
 display: none;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #dd4d4d;
 -webkit-transition: 0.4s;
 transition: 0.4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: 0.4s;
 transition: 0.4s;
}

input:checked + .slider {
 background-color: #85dd6c;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(55px);
 -ms-transform: translateX(55px);
 transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
 display: none;
}

.on,
.off {
 color: white;
 position: absolute;
 transform: translate(-50%, -50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-weight: 600;
}

input:checked + .slider .on {
 display: block;
}

input:checked + .slider .off {
 display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
